:root {
  --primary-color: #c0c0c0;
  --overlay-color: #33ffff;
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

html {
  background: url(../images/bkround.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  background-color: darkslategray;
}


p {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  padding: 20px;
  border-radius: 5px;
  
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Playfair Display', serif;
  line-height: 1.4;
}

.container {
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.section-1 {
  height: 100vh;
  display: block;
  text-align: center;
  padding-top: 6rem;
  border-bottom: 3px solid #fff;
}

.lg-heading {
  font-size: 2.5rem;
  letter-spacing: 5px;
}

.md-heading {
  padding-top: 2rem;
  position: relative;
  margin-left: 13px;
}

.center-li .icon-project {
  padding: 1rem;
}

.icon-1 {
  padding-top: 14rem;
  font-size: 1.25rem;
}

.icon-1 .fab {
  padding: 1rem 1rem;
}

h1 {
  text-align: center;
}

h3 {
  margin: 1rem;
  text-align: center;
}

.section-2 {
  margin: 2rem 1rem;
  min-height: 100vh;
  display: block;
  border-bottom: 3px solid #fff;
  align-content: center;
  align-items: center;
}

.about-img {
  margin-top: 1rem;
  margin-bottom: 1rem;
}




.bio {
  padding: 20px;
}

#quote {
  margin-top: 7rem;
  font-style: italic;
  text-align: center;
  font-size: 1.2rem;
}
.section-3 {
  height: 100%;
}
#code {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.projects {
  padding: 2rem 0;
}

img {
  max-width: 100%;
  border: 3px #fff solid;
  display: block;
}

.hover-effect:hover {
  color: #fff;
  opacity: 0.5;

}

.item {
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.center-li {
  text-align: center;
  padding: 1rem 0.1rem;
}
.project-1 {
  max-width: 100%;
}

.btn-dark {
  display: block;
  padding: 0.5rem 0.1rem;
  border: 1px solid #fff;
  margin-bottom: 0.3rem;
  background: #000;
  color: #fff;
}

.btn-light {
  display: block;
  padding: 0.5rem 0.1rem;
  border: 1px solid #000;
  margin-bottom: 0.3rem;
  background: white;
  color: #000;
}

.section-4 {
  height: 90vh;
  padding-top: 1rem;
  padding-bottom: 2rem;
  display: block;
  align-content: center;
  text-align: center;
}

.contact {
  padding-top: 2rem;
  text-align: center;
}

div .contact-icons {
  justify-content: center;
  align-self: center;
  padding-top: 10%;
}

.contact-icons .fab {
  display: block;
  padding-top: 15px;
  
}

footer {
  text-align: center;
  background-color: #000;
  padding: 1rem 0;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 600px) {
  html {
    background: url(../images/bkround.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .fab:hover {
    color: #d8d8d8;
  }
  h3 {
    font-size: 2rem;
    
  }

  .heading {
    text-align: left;
    border-bottom:  2px solid grey;
    max-width: 30%;;
  }

  .md-heading::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 20%;
    border-right: 2px solid white;
  }
  
.icon-1 {
  padding-top: 0;
}
  .section-1 {
    height: 100vh;
    display: block;
    text-align: center;
    padding-top: 6rem;
  }

  .lg-heading {
    font-size: 5rem;
    font-weight: 1.4;
    padding-bottom: 1.5rem;
    letter-spacing: px;
  }
  .md-heading {
    padding-bottom: 6rem;
  }

  
  .icons {
    font-size: 2rem;
    
    
  }
  .icons a {
    padding: 0 3rem;
  }

  #about-div {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-areas: "about-img bio";
    grid-gap: 2rem;
    align-content: center;
    align-items: center;
  }

  .about-img {
    grid-area: about-img;
  }
  .bio {
    grid-area: bio;
    
  }

  .project-1 {
    min-height: 100vh;
    border-bottom: 2px solid #fff;
  }

  .al-center {
    align-self: center;

  }

  

  .project-2 {
    min-height: 100vh;
    border-bottom: 2px solid #fff;
  }
  .project-3 {
    min-height: 100vh;
    border-bottom: 2px solid #fff;
  }
  .item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left-div right-div";
    grid-gap: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
  }

  .left-div {
    grid-area: left-div;
   
  }

  .right-div {
    grid-area: right-div;
    align-self: center;
    
  }
  
 .project-info {
   margin-top: 0.5rem;


 }

 #code-img {
   align-self: center;
 }
}

@media only screen  and (min-width : 1200px) {
  p{
    font-size: 1rem;
  }

  

.md-heading {
  font-size: 2rem;
}

.icons {
  font-size: 3rem;
  padding-top: 9rem;
}

.icon-1 .fab {
  padding-left: 3rem;
  padding-right: 3 rem;
}
  }
