:root {
  --primary-color: #c0c0c0;
  --overlay-color: #33ffff;
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  background-color: #362f8c;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.section-1 {
  height: 100vh;
  display: block;
  text-align: center;
  padding-top: 14rem;
  border-bottom: 3px solid #fff;
}

.lg-heading {
  font-size: 2.5rem;
  letter-spacing: 5px;
}

.md-heading {
  padding-top: 2rem;
  position: relative;
  margin-left: 13px;
}

.icon-1 {
  padding-top: 4rem;
}

.icon-1 .fab {
  padding: 1rem 1rem;
}

h1 {
  text-align: center;
}

h3 {
  margin: 1rem;
  text-align: center;
}

.section-2 {
  margin: 2rem 1rem;
  min-height: 100vh;
  display: block;
  border-bottom: 3px solid #fff;
  align-content: center;
  align-items: center;
}

.about-img {
  border: 1px solid;
  border-radius: 50%;
  border-color: #fff;
}

.about-img {
  display: block;
  margin: 2rem 18%;
}

.bio {
  padding: 30px;
}

#quote {
  margin-top: 3rem;
  font-style: italic;
  text-align: center;
}
section-3 {
  min-height: 100%;
}

.projects {
  margin: 2rem 0;
}

img {
  max-width: 100%;
  border: 3px #fff solid;
  display: block;
}

.item {
  padding-bottom: 1rem;
  border-bottom: 2px solid #fff;
}
.project-1 {
  height: 100vh;
  max-width: 100%;
  min-height: 100vh;
}

.btn-dark {
  display: block;
  padding: 0.5rem 0.1rem;
  border: 1px solid #fff;
  margin-bottom: 0.3rem;
  background: #000;
  color: #fff;
}

.btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 1px solid #000;
  margin-bottom: 0.3rem;
  background: white;
  color: #000;
}

.section-4 {
  height: 90vh;
  padding-top: 1rem;
  padding-bottom: 2rem;
  display: block;
  align-content: center;
  text-align: center;
}

.contact {
  padding-top: 2rem;
  text-align: center;
}

div .contact-icons {
  justify-content: center;
  align-self: center;
  padding-top: 10%;
}

.contact-icons .fab {
  display: block;
  padding-top: 15px;
  padding-right: 15px;
}

footer {
  text-align: center;
  background-color: #161339;
  padding: 1rem 0;
}

@media only screen and (min-width: 768px) {
  .fab:hover {
    color: #6f66cc;
  }
  h3 {
    font-size: 2rem;
    margin: 2rem 0.1rem;
  }

  .md-heading::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 20%;
    border-right: 2px solid white;
  }

  .section-1 {
    height: 100vh;
    display: block;
    text-align: center;
    padding-top: 13rem;
  }

  .lg-heading {
    font-size: 5rem;
    font-weight: 1.4;
    padding-bottom: 1.5rem;
  }
  .md-heading {
    padding-bottom: 6rem;
  }
  .icons {
    font-size: 2rem;
    padding-right: 3rem;
  }
  .icons a {
    padding: 0 3rem;
  }

  #about-div {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-areas: "about-img bio";
    grid-gap: 2rem;
    align-content: center;
    align-items: center;
  }

  .about-img {
    grid-area: about-img;
  }
  .bio {
    grid-area: bio;
  }

  .item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left-div right-div";
    grid-gap: 4rem;
  }
  .left-div {
    grid-area: left-div;
  }

  .right-div {
    grid-area: right-div;
  }
}

@media only screen and (min-width: 992px) {
  .item {
    grid-gap: 8rem;
  }
}
